@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

.container {
  text-align: center;
  font-family: "PokemonSolid", sans-serif;
}
hr {
  width: 90%;
  margin: 20px auto;
}
p {
  font-size: 2rem;
}
