.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

.header img {
  width: 100%;
  cursor: pointer;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.search {
  position: relative;
  width: 70%;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.pokeball-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.pokeball-icon:hover {
  transform: translateY(-50%) scale(1.4);
}

.btn {
  position: fixed;
  bottom: 0;
  right: 0;
  border: none;
  font-size: 2rem;
}
.btn:hover {
  transform: scale(1.5);
}

/* DROPDOWN */

.dropbtn {
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  color: white;
  font-size: 3rem;
}
.grid-icon {
  width: 30px;
  height: 30px;
}
.grid-icon:hover {
  transform: scale(1.4);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  width: 100px;
  z-index: 10;
  display: none;
  right: calc(120%);
  bottom: calc(90%);
}

.dropdown-content a {
  color: white;
  font-weight: 600;
  padding: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.show {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 600px) {
  .dropdown-content {
    position: absolute;
    width: 100px;
    z-index: 10;
    right: calc(200%);
    top: calc(90%);
  }
}
