.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header img {
  max-width: 100%;
}

.searchbar-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.pokeball-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.pokeball-icon:hover {
  transform: translateY(-50%) scale(1.4);
}
